﻿.sidebar-heading {
    background-color: #802e58;
    color: white;
}

.btn-primary {
    background-color: #802e58;
    color: white;
}

    .btn-primary:active {
        background-color: #604552 !important;
    }

    .btn-primary:hover, .btn-primary:focus {
        background-color: #875D72;
        color: white;
    }

.paginate_button {
    display: inline-block;
    background-color: #f1b144;
    color: #FFFFFF;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin-left: 20px;
    opacity: 0.9;
    cursor: pointer;
}

.next, .previous {
    display: inline-block;
    background-color: #802e58;
    color: #FFFFFF;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

.navbar-link {
    color: white;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
